.dropdown-menu li:hover{
    right: -5px!important;
    -webkit-transition: right 0.2s ease-out!important;
    -moz-transition: right 0.2s ease-out!important;
    -o-transition: right 0.2s ease-out!important;
}
    