.dropdown-menu li:hover{
    right: -5px!important;
    -webkit-transition: right 0.2s ease-out!important;
    -moz-transition: right 0.2s ease-out!important;
    -o-transition: right 0.2s ease-out!important;
}
    
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }