<section class="innerpage-banner mobile-banner-height selected Page-scrolling-fixed-banner lazyload">
    <div class="container">
        <div class="in-banner-content fadeInUp animated3">
            <h1>Oracle</h1>
            <p>Accelerate adoption of cloud services with proven expertise, deployments and effective integration of AWS</p>
            <div class="btn-section">
                <a href="javascript:void(0)" class="blue-new-btn connectBtn cs_req_btn" tabindex="-1">TALK TO AN EXPERT</a>
            </div>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Explore our Oracle Solutions</h2>
            <div class="title-bar">We deliver technology solutions and implement best practices in the industry for our customers in a 24/7 support
                model. We assist our customers to achieve operational efficiency and cost optimization while helping their
                business realize full potential of their IT investments. </div>
        </div>
        <div class="rows kpProgram mrg_cls">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Oracle Consulting</h2>
                        <ul type="disc" class="list">
                            <li>Security Audit</li>
                            <li>Capacity Planning Architecture</li>
                            <li>Business Continuity Programs</li>
                            <li>Performance Tuning</li>
                            <li>HA configuration</li>
                            <li>Patching & Upgrades</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Oracle Implementation</h2>
                        <ul type="disc" class="list">
                            <li>Fusion Middleware</li>
                            <li>Oracle Database</li>
                            <li>Business Intelligence</li>
                            <li>Oracle WebLogic Server</li>
                            <li>Enterprise Application</li>
                            <li>Migration and Maintenance</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Oracle Support</h2>
                        <ul type="disc" class="list">
                            <li>Hosting Services</li>
                            <li>Systems Management</li>
                            <li>Migrations to Cloud</li>
                            <li>Outsourcing Services</li>
                            <li>Remote Infra Management</li>
                            <li>Cloud Management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>