<section class="innerpage-banner mobile-banner-height selected Page-scrolling-fixed-banner lazyload">
    <div class="container">
        <div class="in-banner-content fadeInUp animated3">
            <h1>Quality Assurance and ControlnServices</h1>
            <p>We apply both manual and automated testing to all digital products we build to make sure the quality of code
                for mobile and web app, as well as server-side software, is of the highest level.</p>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Types of testing we use</h2>
            <div class="title-bar">We choose types of testing depending on the project specifics. Our QA specialists test both frontend and backend
                components either manually or by relying on testing automation. </div>
        </div>
        <div class="rows kpProgram mrg_cls">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Compatibility testing</h2>
                        <ul type="disc" class="list">
                            <li>Security Audit</li>
                            <li>Capacity Planning Architecture Design Support</li>
                            <li>Business Continuity Programs</li>
                            <li>Performance Tuning</li>
                            <li>HA configuration</li>
                            <li>Patching & up gradation</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Functional testing</h2>
                        <ul type="disc" class="list">
                            <li>Fusion Middleware</li>
                            <li>Oracle Database</li>
                            <li>Business Intelligence</li>
                            <li>Oracle WebLogic Server</li>
                            <li>Enterprise Application</li>
                            <li>Migration and Maintenance</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Smoke testing</h2>
                        <ul type="disc" class="list">
                            <li>Hosting Services</li>
                            <li>Systems Management</li>
                            <li>Annual Onsite Maintenance</li>
                            <li>Outsourcing Services</li>
                            <li>Remote Infra Management</li>
                            <li>Cloud Management</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Regression testing</h2>
                        <ul type="disc" class="list">
                            <li>Security Audit</li>
                            <li>Capacity Planning Architecture Design Support</li>
                            <li>Business Continuity Programs</li>
                            <li>Performance Tuning</li>
                            <li>HA configuration</li>
                            <li>Patching & up gradation</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>UI testing</h2>
                        <ul type="disc" class="list">
                            <li>Fusion Middleware</li>
                            <li>Oracle Database</li>
                            <li>Business Intelligence</li>
                            <li>Oracle WebLogic Server</li>
                            <li>Enterprise Application</li>
                            <li>Migration and Maintenance</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Installation/update testing</h2>
                        <ul type="disc" class="list">
                            <li>Hosting Services</li>
                            <li>Systems Management</li>
                            <li>Annual Onsite Maintenance</li>
                            <li>Outsourcing Services</li>
                            <li>Remote Infra Management</li>
                            <li>Cloud Management</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Interruption testing</h2>
                        <ul type="disc" class="list">
                            <li>Security Audit</li>
                            <li>Capacity Planning Architecture Design Support</li>
                            <li>Business Continuity Programs</li>
                            <li>Performance Tuning</li>
                            <li>HA configuration</li>
                            <li>Patching & up gradation</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Localization testing</h2>
                        <ul type="disc" class="list">
                            <li>Fusion Middleware</li>
                            <li>Oracle Database</li>
                            <li>Business Intelligence</li>
                            <li>Oracle WebLogic Server</li>
                            <li>Enterprise Application</li>
                            <li>Migration and Maintenance</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Performance testing</h2>
                        <ul type="disc" class="list">
                            <li>Hosting Services</li>
                            <li>Systems Management</li>
                            <li>Annual Onsite Maintenance</li>
                            <li>Outsourcing Services</li>
                            <li>Remote Infra Management</li>
                            <li>Cloud Management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Tools we use</h2>
            <div class="title-bar">We use a variety of tools and technologies for manual and automated application testing and reporting.</div>
        </div>
        <h3 class="text-center mrg-t-30">Manual testing</h3>
        <hr class="underline_cls">
        <div class="col-md-12">
            <div class="row">
                <ul class="manuval_img_list">
                    <li>
                        <img src="assets/img/postman.png" height="100">
                        <h3>Postman</h3>
                    </li>
                    <li>
                        <img src="assets/img/Android_Logo.jpg" height="100">
                        <h3>Espresso Android</h3>
                    </li>
                    <li>
                        <img src="assets/img/Test-Rail.png" height="100">
                        <h3>TestRail</h3>
                    </li>
                    <li>
                        <img src="assets/img/iTool.jpg" height="100">
                        <h3>iTools</h3>
                    </li>
                    <li>
                        <img src="assets/img/Fabric.jpg" height="100">
                        <h3>Fabric</h3>
                    </li>
                    <li>
                        <img src="assets/img/Crashlytics.png" height="100">
                        <h3>Crashlytics</h3>
                    </li>
                    <li>
                        <img src="assets/img/TestFlight.jpg" height="100">
                        <h3>Testflight</h3>
                    </li>
                </ul>
            </div>
        </div>
        <h3 class="text-center mrg-t-30">Automated testing</h3>
        <hr class="underline_cls">
        <div class="col-md-12">
            <div class="row">
                <ul class="automation_img_list">
                    <li>
                        <img src="assets/img/SE.png" height="100">
                        <h3>Selenium WebDriver</h3>
                    </li>
                    <li>
                        <img src="assets/img/Appium.png" height="100">
                        <h3>Appium</h3>
                    </li>
                    <li>
                        <img src="assets/img/Apache-JMeter.png" height="100">
                        <h3>Apache JMeter</h3>
                    </li>
                    <li>
                        <img src="assets/img/BrowserStack.jpg" height="100">
                        <h3>BrowserStack</h3>
                    </li>
                    <li>
                        <img src="assets/img/Sauce-Labs.png" height="100">
                        <h3>Sauce Labs</h3>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>