<section class="innerpage-banner mobile-banner-height selected Page-scrolling-fixed-banner lazyload">
    <div class="container">
        <div class="in-banner-content fadeInUp animated3">
            <h1>Amazon Web Services (AWS)</h1>
            <p>Accelerate adoption of cloud services with proven expertise, deployments and effective integration of AWS</p>
            <div class="btn-section">
                <a href="javascript:void(0)" class="blue-new-btn connectBtn cs_req_btn" tabindex="-1">TALK TO AN EXPERT</a>
            </div>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Explore our AWS Solutions</h2>
            <div class="title-bar">At JARV,we help our clients implement cloud solutions to meet their business objectives with a minimal downtime.Our
                experts use a tailored cloud strategy to enable businesses move to a hybrid/multi cloud model in their digital
                transformation journey.</div>
        </div>
        <div class="rows kpProgram mrg_cls">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Consulting Services</h2>
                        <p>Accelerate your cloud transformation with our in-house cloud expertise to achieve agility, IT compliance
                            and realize cost savings.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>AWS Specializations</h2>
                        <p>Deploy highly scalable solutions provided on the AWS platform to derive full benefits while managing
                            Infrastructure costs,governance and risks.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>AWS Managed Services</h2>
                        <p>Support,manage and optimize customers cloud infrastructure and applications on Amazon Web Services.
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Hybrid Cloud Services</h2>
                        <p>Hybrid cloud design and architecture help business enterprises integrate their on-premise data center
                            and cloud operations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>