<section class="innerpage-banner mobile-banner-height selected Page-scrolling-fixed-banner lazyload">
    <div class="container">
        <div class="in-banner-content fadeInUp animated3">
            <h1>Amazon Web Services (AWS)</h1>
            <p>Accelerate adoption of cloud services with proven expertise, deployments and effective integration of AWS</p>
            <div class="btn-section">
                <a href="javascript:void(0)" class="blue-new-btn connectBtn cs_req_btn" tabindex="-1">TALK TO AN EXPERT</a>
            </div>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Explore our AWS Solutions</h2>
            <div class="title-bar">Enabling a seamless migration of critical workloads to cloud with flexible consumption-based models to transform
                your enterprise cloud through an intelligent solutions of AWS. </div>
        </div>
        <div class="rows kpProgram mrg_cls">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Consulting Services</h2>
                        <p>Accelerate your multi-cloud journey with our cloud-agnostic expertise to achieve agility, ensure
                            governance and realize cost savings.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>AWS Specializations</h2>
                        <p>Deploy scalable solutions provided on the AWS platform to reap complete benefits while managing costs,
                            governance and risks.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>AWS Managed Services</h2>
                        <p>Lead, manage and optimize customers’ cloud-native infrastructures and applications on Amazon Web
                            Services.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Hybrid/Multi Cloud Integration Services</h2>
                        <p>Modernize your cloud platform and extend the complete value of cloud environments with Multi-cloud
                            integrations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>