<!-- <div class="container-fluid p-0 m-t-50">
    <p>IOS- Development</p>
</div> -->
<section class="innerpage-banner mobile-banner-height selected Page-scrolling-fixed-banner lazyload">
    <div class="container">
        <!-- <div class="in-banner-content fadeInUp animated3">
            <h1>We call it 'The Java Kingdom'               
                <br>  because it's our territory</h1>
            <p>WE’RE A TOP-RANKED JAVA DEVELOPMENT COMPANY</p>
            <div class="btn-section">
                <a href="javascript:void(0)" class="blue-new-btn connectBtn cs_req_btn" tabindex="-1">Get Estimation For Your Project</a>
            </div>
        </div> -->
    </div>
</section>
<section id="section_1" class="solution selected">
    <div class="container">
        <div class="chatContent">
            <span class="chatContent-main-Title">JAVA SERVICES FOR ALL</span>
            <h2>Java application development services
                <br> robust, secure and effective</h2>
            <p>Globally acclaimed for our ground-breaking web solutions, we offer Java application development services that are rich, productive, swift, reliable and high-performing. Our Java web development caters to wide spectrum of industries; some of the services include:</p>
        </div>
        <div class="mobile_Box">
            <ul class="">
                <li>
                    <div class="mobile_Box_Chat boxShedow">
                        <span class="">
                            <img src="assets/img/pngwave.png" width="90">
                        </span>
                        <div class="mobile_Box_ChatName">Enterprise Java Development</div>
                    </div>
                </li>
                <li>
                    <div class="mobile_Box_Chat boxShedow">
                        <span class="">
                            <img src="assets/img/custom_web.jpg" width="90">
                        </span>
                        <div class="mobile_Box_ChatName">Custom Web & Software</div>
                    </div>
                </li>
                <li>
                    <div class="mobile_Box_Chat boxShedow">
                        <span class="">
                            <img src="assets/img/dynamic_mobile.png" width="180">
                        </span>
                        <div class="mobile_Box_ChatName">Dynamic Mobile Development </div>
                    </div>
                </li>
                <li>
                    <div class="mobile_Box_Chat boxShedow">
                        <span class="">
                            <img src="assets/img/javaj2ee.png" width="80">
                        </span>
                        <div class="mobile_Box_ChatName">Java/J2EE Development</div>
                    </div>
                </li>
                <li>
                    <div class="mobile_Box_Chat boxShedow">
                        <span class="">
                            <img src="assets/img/maintanence.png" width="100">
                        </span>
                        <div class="mobile_Box_ChatName">Maintenance & Support</div>
                    </div>
                </li>
                <li>
                    <div class="mobile_Box_Chat boxShedow">
                        <span class="">
                            <img src="assets/img/Windows_Easy_Transfer.png" width="90">
                        </span>
                        <div class="mobile_Box_ChatName">Java CMS/Migration</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <!-- <div class="text-center mt40">
            <a href="#overflow-slide_6" class="blue-new-btn transition cbss" tabindex="-1">Let’s Connect</a>
        </div> -->
    </div>
</section>
<!-- <section id="section_2" class="support-content-block blue-bg btmarrow custom-support-section pdB37 selected">
    <div class="container">
        <div class="col-md-12">
            <div class="process-blue-block topTech  aw-cl-logo-con">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <h2 class="font36">We adopt modern, cutting-edge technologies</h2>
                        <span class="topnewTitle">Technologies that Fuel Our iOS Applications</span>
                        <p class="mt30">iOS market has unmatched potential, and as one of the top iphone app development companies, we adopt
                            leading-edge technologies that help your business achieve the best of traffic and conversions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Why choose Konstant as your
                <br> iOS app development partner</h2>
            <div class="title-bar">We are Multi-asset and serve across multiple industries </div>
        </div>
        <div class="rows kpProgram mrg_cls">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Impressive Portfolio for iOS apps</h2>
                        <p>More than 10M+ downloads of our apps, over 350+ successful iOS projects.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>iOS Expert Developers</h2>
                        <p>Passionate and pro workforce with innovative minds and specialized skills.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>High quality development</h2>
                        <p>90% client satisfaction with Total Quality Management in design, development &amp; delivery.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Confidentiality &amp; Security</h2>
                        <p>100% confidential consultation and project privacy maintained for lifetime.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>On time and in budget</h2>
                        <p>98% of projects are delivered on time and within the estimated budget.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Complemented User Experience</h2>
                        <p>We work with human-centric design policy delivering a smooth and polished flow.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Custom Development</h2>
                        <p>Deliver results in accordance with the real purpose of individual businesses.</p>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>Adaptive to new versions and technologies</h2>
                        <p>All-tuned with the latest iOS versions, updates and releases by Apple Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="technologies-Cls">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav justify-content-center" role="tablist" id="customersCats">                   
                    <li class="nav-item">
                        <a class="nav-link active show" href="#featuredSection" id="education" data-toggle="tab" role="tab" aria-controls="featuredSection"
                            aria-selected="false">Frameworks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ideSection" id="healthcare" data-toggle="tab" role="tab" aria-controls="ideSection" aria-selected="false">IDE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#databaseSection" id="nonprofit" data-toggle="tab" role="tab" aria-controls="databaseSection"
                            aria-selected="false">Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#LibrariesSection" id="featured" data-toggle="tab" role="tab" aria-controls="LibrariesSection"
                            aria-selected="true">Libraries</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- row-->
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content" id="catsContent">
                    <div class="tab-pane fade show active" id="featuredSection" role="tabpanel" aria-labelledby="featured">
                        <div class="row">
                            <!-- <div class="col-sm-6 col-md-4" onclick="location.href='#'">
                                    
                                </div> -->
                            <ul class="listData">
                                <li>
                                    <img src="assets/img/spring_logo.png">
                                    <p>Spring 4.3</p>
                                </li>
                                <li>
                                    <img src="assets/img/hibernate5.2.5_logo.png">
                                    <p>Hibernate 5.2.5</p>
                                </li>
                            </ul>
                        </div>
                        <!-- row-->
                    </div>
                    <div class="tab-pane fade" id="ideSection" role="tabpanel" aria-labelledby="education">
                        <div class="row">
                            <ul class="listData">
                                <li>
                                    <img src="assets/img/eclipse_logo.png">
                                    <p>Eclipse</p>
                                </li>
                                <li>
                                    <img src="assets/img/netbeans_logo.png">
                                    <p>NetBeans</p>
                                </li>
                            </ul>
                        </div>
                        <!-- row-->
                    </div>                    
                    <div class="tab-pane fade" id="databaseSection" role="tabpanel" aria-labelledby="nonprofit">
                        <div class="row">
                            <ul class="listData">
                                <li>
                                    <img src="assets/img/sqlite.png">
                                    <p>SQLite</p>
                                </li>

                                <li>
                                    <img src="assets/img/realm.png">
                                    <p>Realm</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="LibrariesSection" role="tabpanel" aria-labelledby="LibrariesSection">
                        <div class="row">
                            <ul class="listData">
                                <li>
                                    <img src="assets/img/java_database.png">
                                    <p>Java Database <br> Connectivity (JDBC)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--row-->
    </div>
</section>
<!-- container-->