.is-sticky{
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff !important;
}
.m-t-50{
    margin-top: 50px;
}
.innerpage-banner{
    background-size: cover;
    background-image:url("src/assets/img/Java_Banner.jpeg");
    min-height: 740px;
}
.in-banner-content {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 228px;
    padding-left: 15px;
    padding-right: 15px;
}
.in-banner-content>h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 0.65px;
    background-color: #15ff00;
}
.in-banner-content p {
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 14.6px;
    padding: 0;
    letter-spacing: 2.1px;
    margin-top: 8px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.in-banner-content .connectBtn {
    margin-top: 47px;
}
.connectBtn {
    margin-top: 20px;
    border: none;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-size: 15px;
    min-width: 200px;
    text-align: center;
}
.blue-new-btn {
    font-size: 13px;
    text-align: center;
    color: #fff;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 22px 18px;
    border-radius: 5px;
    display: inline-block;
    letter-spacing: 1.8px;
    transition: all .5s ease 0s;
    background: #026ec7;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,#026ec7 0,#2e9eac 100%);
    background: -webkit-linear-gradient(left,#026ec7 0,#2e9eac 100%);
    background: linear-gradient(to right,#026ec7 0,#2e9eac 100%);
}
.selected .fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated3 {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.solution {
    padding-top: 45px;
    padding-bottom: 60px;
}
.chatContent {
    text-align: center;
    margin: 0 auto;
}
.mobile_Box {
    padding-top: 20px;
}
.chatContent-main-Title {
    color: #909090;
    font-size: 12px;
    text-transform: uppercase;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.chatContent h2 {
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: #151515;
    margin: 10px 0 15px;
    padding: 0;
}
.chatContent p {
    font-size: 17px;
    color: #696969;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
}
.mobile_Box ul li .mobile_Box_Chat {
    width: 167px;
    height: 200px;
    border-radius: 0;
    padding: 24px 15px 0;
}
.mobile_Box_Chat {
    background: #fff;
    width: 169px;
    height: 200px;
    border-radius: 14px;
    text-align: center;
    padding-top: 34px;
    text-align: center;
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
}
.mobile_Box ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
.mobile_Box ul li {
    list-style: none;
    margin-bottom: 30px;
    width: 16%;
    display: inline-block;
}
.boxShedow {
    box-shadow: 14px 4px 36px 19px #f8f8f8;
    -webkit-box-shadow: 14px 4px 36px 19px #f8f8f8;
    -moz-box-shadow: 14px 4px 36px 19px #f8f8f8;
    -ms-box-shadow: 14px 4px 36px 19px #f8f8f8;
}
.mt40 {
    margin-top: 40px!important;
}
.btmarrow {
    position: relative;
    height: 210px;
}
.pdB37 {
    padding-bottom: 37px!important;
}
.blue-bg {
    background: #06c url("src/assets/img/bg-blue.jpg") no-repeat center center;
    background-size: cover;
}
.process-blue-block.aw-cl-logo-con {
    padding: 40px 0 20px 0;
}
.process-blue-block {
    width: 100%;
    float: left;
    padding: 40px 0 40px 0;
    position: relative;
}
.support-content-block .process-blue-block h2 {
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-size: 28px!important;
    color: #fff;
    margin: 0;
    line-height: 38px;
    letter-spacing: .2px;
}
.topnewTitle {
    color: #fff;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-size: 14.6px;
    letter-spacing: 2.1px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0;
    text-transform: uppercase;
    display: block;
}
.process-blue-block.topTech.aw-cl-logo-con p {
    font-size: 16px;
    font-family: 'Circular Std Book';
    color: #70cdf7;
}
.main-content-block {
    text-align: center;
}
.main-content-block h2 {
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: #151515;
    margin: 0;
    line-height: 50px;
    text-align: center;
    margin-bottom: 11px;
}
.main-content-block .title-bar {
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #717171;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: url("src/assets/img/down_arrow.png") no-repeat bottom center;
    padding-bottom: 20px;
}
.mt70 {
    margin-top: 70px;
}
.mrg_cls {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.kpProgram {
    padding: 0;
    text-align: left;
}
.partnersIcon.impressive_portfolio {
    background-position: -4397px -416px;
    width: 54px;
}
.kpProgram h2 {
    color: #303030;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .4px;
    line-height: 24px;
    margin: 14px 0 9px;
}
.kpProgram p {
    color: #131313;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    margin: 0;
}
.kpProgram .col-md-3 {
    height: 213px;
    margin-top: 41px;
    -webkit-box-shadow: 14px 4px 36px 19px #f8f8f8;
    padding: 20px;
}
.mobile_Box_ChatName {
    font-size: 17px;
    color: #101010;
    font-family: 'Circular Std medium';
    margin-top: 5px;
    font-weight: 1000;
}
.fa-desk-tech{
    font-size: 26px;
    padding: 0px 0px 30px 0px;
    color: green;
    font-weight: 1000;
}
.fa-desk-des{
    font-size: 25px;
    color: green;
    font-weight: 1000;
}
#customersCats{
    margin-top:1.2rem;
    height: 80px;
 }
 
 .nav-link.active, .nav-link:focus,  .nav-link:hover {
     background-color: transparent;
     border-color: transparent;
     border-bottom: 3px solid #1aafff;
 }
 a.nav-link{
   color:#ffffff;
   font-size: 18px;
 }
 .listData li{
    display: inline-block;
    margin: 20px 0;
    width: auto;
    list-style: none;
    // -webkit-box-shadow: 14px 4px 36px 19px #f8f8f8;
    padding: 30px;
}
.listData li p{
    color:#ffffff;
}
.listData{
    display: block;
    height: initial;
    margin: 0;
    text-align: center;
    table-layout: fixed;
    width: 100%;
}
.technologies-Cls{
    background: #06c url("src/assets/img/bg-blue.jpg") no-repeat center center;
    background-size: cover;
}