<section class="innerpage-banner mobile-banner-height selected Page-scrolling-fixed-banner lazyload">
    <div class="container">
        <div class="in-banner-content fadeInUp animated3">
            <h1>Digital Marketing Services To Grow Your Business</h1>
            <p>Digital Marketing Services At Your Fingertips</p>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <!-- <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Oracle Gold Partner</h2>
            <div class="title-bar">Being an Oracle Gold Partner, we have witnessed the evolution of Oracle’s technology and solutions. Our partnership
                with Oracle help us bring the latest technology solutions and best practices to our customers across the
                globe which is supplemented by the 24/7 development support. Assisting our customers plan, prepare and pilot
                to have the most remittal implementations and transformations, we help them achieve operational efficiency
                and reduction on cost while driving extreme performance and ability to make their businesses realize full
                potential of their IT investments. </div>
        </div> -->
        <div class="rows kpProgram mrg_cls">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/socialmedia.jpg" height="280" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h6 class="card-text text-center">SOCIAL MEDIA MANAGEMENT</h6>
                            </div>
                        </div>
                        <!-- <img src="../../../../assets/img/socialmedia.jpg" width="150" height="150">
                        <h2>SOCIAL MEDIA MANAGEMENT</h2> -->
                        <!-- <ul type="disc" class="list">
                            <li>Security Audit</li>
                            <li>Capacity Planning Architecture Design Support</li>
                            <li>Business Continuity Programs</li>
                            <li>Performance Tuning</li>
                            <li>HA configuration</li>
                            <li>Patching & up gradation</li>
                        </ul> -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/Search_Engine_Img.jpg" height="280" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h6 class="card-text text-center">SEARCH ENGINE OPTIMIZATION</h6>
                            </div>
                        </div>
                        <!-- <img src="../../../../assets/img/socialmedia.jpg" width="150" height="150">
                        <h2>SEARCH ENGINE OPTIMIZATION</h2> -->
                        <!-- <ul type="disc" class="list">
                            <li>Fusion Middleware</li>
                            <li>Oracle Database</li>
                            <li>Business Intelligence</li>
                            <li>Oracle WebLogic Server</li>
                            <li>Enterprise Application</li>
                            <li>Migration and Maintenance</li>
                        </ul> -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/email-marketing.png" height="280" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h6 class="card-text text-center">EMAIL MARKETING</h6>
                            </div>
                        </div>
                        <!-- <img src="../../../../assets/img/socialmedia.jpg" width="150" height="150">
                        <h2>EMAIL MARKETING</h2> -->
                        <!-- <ul type="disc" class="list">
                            <li>Hosting Services</li>
                            <li>Systems Management</li>
                            <li>Annual Onsite Maintenance</li>
                            <li>Outsourcing Services</li>
                            <li>Remote Infra Management</li>
                            <li>Cloud Management</li>
                        </ul> -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span> -->
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/Social_Media_Adv.jpg" height="280" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h6 class="card-text text-center">SOCIAL MEDIA ADVERTISING</h6>
                            </div>
                        </div>
                        <!-- <img src="../../../../assets/img/socialmedia.jpg" width="150" height="150">
                        <h2>SOCIAL MEDIA ADVERTISING</h2> -->
                        <!-- <ul type="disc" class="list">
                                <li>Hosting Services</li>
                                <li>Systems Management</li>
                                <li>Annual Onsite Maintenance</li>
                                <li>Outsourcing Services</li>
                                <li>Remote Infra Management</li>
                                <li>Cloud Management</li>
                            </ul> -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/content_marketing.jpg" height="280" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h6 class="card-text text-center">CONTENT MARKETING</h6>
                            </div>
                        </div>
                        <!-- <img src="../../../../assets/img/socialmedia.jpg" width="150" height="150">
                        <h2>CONTENT MARKETING</h2> -->
                        <!-- <ul type="disc" class="list">
                                    <li>Hosting Services</li>
                                    <li>Systems Management</li>
                                    <li>Annual Onsite Maintenance</li>
                                    <li>Outsourcing Services</li>
                                    <li>Remote Infra Management</li>
                                    <li>Cloud Management</li>
                                </ul> -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/Consultation_Img_New.jpg" height="280" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h6 class="card-text text-center">CONSULTATION</h6>
                            </div>
                        </div>
                        <!-- <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span> -->
                        <!-- <img src="../../../../assets/img/consultation.jpg" width="150" height="150">
                        <h2>CONSULTATION</h2> -->
                        <!-- <ul type="disc" class="list">
                                        <li>Hosting Services</li>
                                        <li>Systems Management</li>
                                        <li>Annual Onsite Maintenance</li>
                                        <li>Outsourcing Services</li>
                                        <li>Remote Infra Management</li>
                                        <li>Cloud Management</li>
                                    </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>