<section class="innerpage-banner mobile-banner-height selected Page-scrolling-fixed-banner lazyload">
    <div class="container">
        <div class="in-banner-content fadeInUp animated3">
            <h1>DevOps Service</h1>
            <p>At Cambridge Technology, we want to help your business or organization begin its DevOps journey and provide support
                along the way. Our competency in AWS DevOps and our partnership with the enterprise software company Atlassian
                set us apart from the competition..</p>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Explore our DevOps Services</h2>
            <div class="title-bar">Our DevOps experts help businesses improve their software delivery,accelerate releases while aligning their development and operations to achieve high efficiency and automate delivery pipelines. </div>
        </div>
        <div class="rows kpProgram mrg_cls">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 animated3" data-aos="fade-right">
                        <div class="text-center">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-center">DevOps Advisory</h2>
                        <ul type="disc" class="list">
                            <li>We assess your business processes,tools and existing infrastructure</li>
                            <li>Create a roadmap on how to automate deployments </li>
                            <li>A blueprint to start your DevOps implementation</li>
                            <li>Improve your software quality and accelerate software releases</li>
                            <li>Identify the tools to increase your company's ability to deliver services more rapidly</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 animated3" data-aos="fade-up">
                        <div class="text-center">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-center">DevOps Implementation</h2>
                        <ul type="disc" class="list">
                            <li>Develop,test and verify the code </li>
                            <li>Create a test infrastructure environment</li>
                            <li>Use microservice architecture to build scalable environments</li>
                            <li>Infrastructure as a code</li>
                            <li>Continuous integration and continuous delivery pipelines</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 animated3" data-aos="fade-left">
                        <div class="text-center">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-center">DevOps Support</h2>
                        <ul type="disc" class="list">
                            <li>Configuration management,orchestration and applications support</li>
                            <li>Automation testing</li>
                            <li>System and applications monitoring</li>
                            <li>Code inspection & bug reporting</li>
                            <li>Performance optimization</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>