<section class="innerpage-banner mobile-banner-height selected Page-scrolling-fixed-banner lazyload">
    <div class="container">
        <div class="in-banner-content fadeInUp animated3">
            <h1>DevOps Service</h1>
            <p>At Cambridge Technology, we want to help your business or organization begin its DevOps journey and provide support
                along the way. Our competency in AWS DevOps and our partnership with the enterprise software company Atlassian
                set us apart from the competition..</p>
        </div>
    </div>
</section>
<section id="section_3" class="startup-sec1 light_blue_bg selected">
    <div class="container">
        <div class="main-content-block new-main-content-block rows fadeInUp animated3 mt70">
            <h2>Explore our DevOps Solutions</h2>
            <div class="title-bar">Enabling a seamless migration of critical workloads to cloud with flexible consumption-based models to transform
                your enterprise cloud through an intelligent solutions of AWS. </div>
        </div>
        <div class="rows kpProgram mrg_cls">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 animated3">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>DevOps Advisory</h2>
                        <ul type="disc" class="list">
                            <li>Assessment of your current stage of business maturity</li>
                            <li>Assessment of tools and processes</li>
                            <li>Creation of a business value case for your DevOps journey</li>
                            <li>The road map and framework you need to begin DevOps implementation</li>
                            <li>A blueprint tailored to your specific needs regarding DevOps tools, practices, and processes</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 animated3">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>DevOps Implementation</h2>
                        <ul type="disc" class="list">
                            <li>Development and operations adoption management</li>
                            <li>Implementation of best practices for your operation</li>
                            <li>Micro-services and serverless computing</li>
                            <li>Continuous integration, delivery, testing, and code inspection</li>
                            <li>Creation of a development and operations usage model that is enabled within your core team</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 animated3">
                        <span class="">
                            <i class="fa fa-desktop fa-desk-des" aria-hidden="true"></i>
                        </span>
                        <h2>DevOps Support</h2>
                        <ul type="disc" class="list">
                            <li>Ongoing support and maintenance for automation and CI/CD projects</li>
                            <li>The right technology and provisions for your infrastructure and environment</li>
                            <li>Continuous integration, delivery, and operations support</li>
                            <li>DevOps tools maintenance</li>
                            <li>Automation, data management, and execution testing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>